<div id="show-product" class="tab-pane fade show active" role="tabpanel">
  <!-- Table -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered table-sm"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Price</th>
              <th>Category</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < product.length; i++){ %>
            <tr>
              <td><%- i+1 %></td>
              <td><%- product[i].name %></td>
              <td>Rp. <%- product[i].price %></td>
              <td><%- product[i].categoryId.name %></td>
              <% if(product[i].isReady === false){ %>
              <td>
                <b class="text-danger"> Habis </b>
              </td>
              <% } else if(product[i].isReady === true){ %>
              <td>
                <b class="text-success">Ready</b>
              </td>
              <% } %>

              <td>
                <form
                  action="/admin/product/<%- product[i].id%>/delete?_method=DELETE"
                  method="POST"
                >
                  <a
                    href="/admin/product/show-image/<%- product[i].id%>"
                    class="btn btn-info btn-circle btn-sm"
                    ><i class="fas fa-image"></i
                  ></a>
                  <a
                    href="/admin/product/<%- product[i].id%>"
                    class="btn btn-warning btn-circle btn-sm button-update"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                  <button
                    class="btn btn-danger btn-circle btn-sm"
                    type="submit"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </form>
                <form
                  action="/admin/product/<%- product[i].id %>/status?_method=PUT"
                  method="POST"
                >
                  <button
                    class="btn btn-circle btn-sm btn-success"
                    type="submit"
                  >
                    <i class="fas fa-check"></i>
                  </button>
                </form>
              </td>
            </tr>

            <% }%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- AkhirTable -->
</div>
